body{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

#loginForm{
    border: 1px solid black;
   background: #ccc;
   border-radius: 5px;
   display: inline-block;
   text-align: right;
   padding: 15px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}
